In [15]:
from recordlinkage import datasets
import pandas as pd

In [24]:
(df,index) = datasets.load_krebsregister(block=[1])

In [25]:
df

,,cmp_firstname1,cmp_firstname2,cmp_lastname1,cmp_lastname2,cmp_sex,cmp_birthday,cmp_birthmonth,cmp_birthyear,cmp_zipcode
id1,id2,,,,,,,,,
49474,54568,0.400000,NaN,0.285714,NaN,0,0.0,1.0,0.0,0.0
7134,88023,1.000000,NaN,0.000000,NaN,1,0.0,1.0,0.0,0.0
3453,96030,0.285714,NaN,1.000000,NaN,1,0.0,0.0,0.0,0.0
1803,44144,1.000000,NaN,0.111111,NaN,1,0.0,1.0,0.0,0.0
33475,35225,1.000000,NaN,0.375000,NaN,1,0.0,1.0,0.0,0.0
31297,95750,1.000000,NaN,0.142857,NaN,1,0.0,1.0,0.0,0.0
6116,47198,1.000000,NaN,0.000000,NaN,1,0.0,1.0,0.0,0.0
3565,63731,1.000000,NaN,0.142857,NaN,1,0.0,1.0,0.0,0.0
35494,83053,1.000000,NaN,0.111111,NaN,1,0.0,0.0,1.0,0.0
8797,73533,0.125000,NaN,0.400000,NaN,1,0.0,0.0,1.0,0.0
5007,15438,1.000000,NaN,0.100000,NaN,1,1.0,1.0,0.0,0.0
35274,66871,1.000000,NaN,0.090909,NaN,1,0.0,1.0,0.0,0.0
29950,75224,1.000000,NaN,0.333333,NaN,1,0.0,1.0,0.0,0.0
52823,60849,0.000000,NaN,1.000000,NaN,1,0.0,0.0,0.0,0.0
9316,68662,1.000000,NaN,0.000000,NaN,1,0.0,0.0,1.0,0.0
76257,81452,1.000000,NaN,0.181818,NaN,1,0.0,0.0,1.0,0.0
89,63105,0.000000,NaN,0.222222,NaN,0,1.0,1.0,1.0,0.0
31100,35086,1.000000,NaN,0.166667,NaN,1,0.0,1.0,0.0,0.0
6640,85152,1.000000,NaN,0.100000,NaN,1,0.0,1.0,0.0,0.0
2251,99882,1.000000,NaN,0.142857,NaN,0,0.0,1.0,0.0,0.0
8049,69632,1.000000,NaN,0.166667,NaN,1,0.0,1.0,0.0,0.0
39817,77362,1.000000,NaN,0.090909,NaN,1,0.0,0.0,1.0,0.0
45511,49618,0.800000,NaN,0.000000,NaN,1,0.0,1.0,1.0,0.0
92070,99829,0.222222,NaN,1.000000,NaN,1,0.0,0.0,0.0,0.0
50110,55580,1.000000,NaN,0.000000,NaN,1,1.0,1.0,0.0,0.0
17092,48587,0.600000,NaN,0.125000,NaN,1,1.0,0.0,0.0,0.0
12700,99209,1.000000,NaN,0.142857,NaN,1,0.0,1.0,0.0,0.0
2495,59607,1.000000,NaN,0.200000,NaN,1,0.0,0.0,1.0,0.0
13861,29935,0.400000,NaN,0.250000,NaN,1,0.0,1.0,0.0,0.0
14854,18081,0.750000,NaN,0.250000,NaN,1,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
80531,96339,1.000000,NaN,0.166667,NaN,1,0.0,1.0,0.0,0.0
17877,25672,1.000000,NaN,0.000000,NaN,1,0.0,0.0,1.0,0.0
49550,90416,1.000000,NaN,0.454545,NaN,1,0.0,1.0,0.0,0.0
9987,37983,0.000000,NaN,0.100000,NaN,1,1.0,1.0,1.0,0.0
43719,72193,1.000000,NaN,0.125000,NaN,1,0.0,1.0,0.0,0.0
7479,84487,1.000000,NaN,0.333333,NaN,1,0.0,0.0,1.0,0.0
7911,82513,1.000000,NaN,0.555556,NaN,0,0.0,0.0,1.0,0.0
19684,38262,1.000000,NaN,0.333333,NaN,1,0.0,0.0,1.0,0.0
91782,98474,1.000000,NaN,0.000000,NaN,1,1.0,1.0,0.0,0.0
6139,20646,1.000000,NaN,0.090909,NaN,1,0.0,1.0,0.0,0.0
22568,41894,1.000000,NaN,0.000000,NaN,1,0.0,0.0,1.0,0.0
19844,98566,0.500000,NaN,0.500000,NaN,1,0.0,1.0,0.0,0.0
24526,69488,1.000000,NaN,0.111111,NaN,1,0.0,1.0,0.0,0.0
10072,77611,1.000000,NaN,0.166667,NaN,1,1.0,1.0,0.0,0.0
22442,91488,1.000000,NaN,0.100000,NaN,1,0.0,1.0,0.0,0.0
19842,44884,0.000000,NaN,0.000000,NaN,1,1.0,1.0,1.0,0.0
39689,73331,1.000000,1.0,0.000000,NaN,1,0.0,1.0,0.0,0.0
47184,95959,1.000000,NaN,0.214286,NaN,0,0.0,0.0,1.0,0.0
95295,98820,1.000000,NaN,0.125000,NaN,1,0.0,0.0,1.0,0.0
31919,68525,1.000000,NaN,0.100000,NaN,1,0.0,1.0,0.0,0.0
3678,34292,1.000000,NaN,0.285714,NaN,1,0.0,1.0,0.0,0.0
77432,89834,1.000000,NaN,0.090909,NaN,1,0.0,1.0,0.0,0.0
22481,99943,1.000000,1.0,0.272727,NaN,1,1.0,0.0,1.0,0.0
29522,89836,1.000000,NaN,0.125000,NaN,1,0.0,1.0,0.0,0.0
12176,42675,1.000000,NaN,0.200000,NaN,1,1.0,0.0,0.0,0.0
16024,22270,0.111111,NaN,0.100000,NaN,0,1.0,1.0,1.0,0.0
30007,76846,0.750000,NaN,0.000000,NaN,1,1.0,0.0,0.0,0.0
14781,58346,1.000000,NaN,0.166667,NaN,1,0.0,0.0,1.0,0.0
37939,74488,0.500000,NaN,0.100000,NaN,1,0.0,1.0,0.0,0.0
14400,89749,1.000000,NaN,0.111111,NaN,1,0.0,1.0,0.0,0.0